*{
    margin: 0px;
    padding: 0px;
}

body, p {
  font-family: "Inter", sans-serif;   /* body text everywhere */
  font-weight: 400;
}

h1, h2, h3 {
  font-family: "Fraunces", serif;     /* headings */
  font-weight: 600;
}

.header {
    border-top: 0.5vh solid #4B4643;
}

.nav {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #DCDEDD;
    z-index: 1000;
    border-bottom: 0.4vh solid #4B4643;
}

.nav__list {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    transition: transform 0.5s ease-out; 
}

.nav__item {
    display: flex;
    list-style: none;
    align-items:center;
    margin: 1vh 2vh 1vh 0vh;
    white-space: nowrap;
    font-weight: 500;
    filter: drop-shadow(1vh 1vh 2vh rgba(0, 0, 0, 0.5));
}   

.nav__item a {
    color: #000000; 
    text-decoration: none; 
    transition: transform 0.5s ease-out; 
}

.nav__item a:hover {
    transform: scale(1.1);
}

.nav__item:first-child img{
    max-width: 5vh;
    height: auto;
    border-radius: 50%;
    position: relative;
    margin-right: 2vh;
    transition: transform 0.5s ease-out; 
}

.nav__item:first-child img:hover{ 
    transform: scale(1.1);
}
.nav__item:first-child a:hover{ 
    transform: scale(1.1);
}
.nav__item:first-child {
    margin-right: 10vh;
}

.header__intro {
    display: flex;
    flex-direction: column;
    padding: 5vh;
    color: #F9F9F9;

    background: hsla(10, 30%, 35%, 1);
    background: linear-gradient(90deg, hsla(10, 30%, 35%, 1) 26%, hsla(23, 6%, 28%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(10, 30%, 35%, 1) 26%, hsla(23, 6%, 28%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(10, 30%, 35%, 1) 26%, hsla(23, 6%, 28%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#74483F", endColorstr="#4B4643", GradientType=1 );
}

.header__content {
    text-align: center;
    font-weight: 600;
    margin-bottom: 4vh;
    filter: drop-shadow(1vh 1vh 2vh rgba(0, 0, 0, 1));
}

.header__text {
    text-align: center;
    margin-bottom: 5vh;
    filter: drop-shadow(1vh 1vh 2vh rgba(0, 0, 0, 1));
}

.header__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.header__list-item {
    font-size: 3rem;
    margin-right: 2rem;
    transition: transform .875s cubic-bezier(.34,1.56,.64,1);
    filter: drop-shadow(1vh 1vh 2vh rgba(0, 0, 0, 0.5));
}

.header__list-item:first-child:hover {
    transform: rotate(360deg);
}

.header__list-item:nth-child(2):hover {
    transform: translateY(-8px);
}

.header__list-item:nth-child(3):hover {
    transform: rotateY(180deg);
}

.main {
    display: flex;
    margin: 0 auto;
    padding: 3ch 6vh 3vh 6vh;
    background-color: #DCDEDD;
    border-top: 0.5vh solid #4B4643;
}

section {
    width: 33%;
    filter: drop-shadow(1vh 1vh 2vh rgba(0, 0, 0, 0.22));
}

.projects {
    list-style: none; 
}

.projects__title {
    color: #744B3F;
    text-align: left;
    margin: 1vh 1vh 4vh 1vh;
}

.projects__list {
    
}

.projects__list-item {
    margin-left: 4vh;
    margin-bottom: 2vh;
    list-style: none;
    transition: transform 0.5s ease-out;
    display: inline-block;
}

.projects__list-item:hover {
    transform: scale(1.1);
}

.projects__list-item a {
    text-decoration: none;
    color: black;
    align-items: center;
    padding: 0.5vh;
    
}

.education {
    padding: 0vh 2vh 2vh 2vh;
}

.education__title, .education__sectitle {
    color: #744B3F;
    text-align: left;
    margin: 1vh 0vh 1vh 0vh
}

.education__subtitle {
    text-indent: 1vh;
    line-height: 1.5rem;
}

.education__list {
    margin-left: 2vh;
    margin-bottom: 2vh;
}

.education__list-item {
    margin-bottom: 1vh;
}

.myarts {
    padding: 0vh 2vh 2vh 2vh;
}

.myarts__title, .myarts__sectitle {
    color: #744B3F;
    text-align: left;
    margin: 1vh 0vh 1vh 0vh
}

.myarts__subtitle, .myarts__secsubtitle {
    text-indent: 1vh;
    line-height: 1.5rem;
    margin-bottom: 3vh;
}

.myarts__images {
    display: flex;
    flex-wrap: wrap;
}

.myarts__images-img {
    max-width: 100%;
    width: 10vh;
    height: 10vh;
    object-fit:cover;
    object-position: center;
    border-radius: 50%;
    margin: 1vh;
}

.myarts__link {
    text-decoration: none;
    color:#744B3F;
    display: inline-block;
    transition: transform 0.5s ease-out;
}

.myarts__link:hover {
    transform: scale(1.1);
}

.footer {
    border-top: 0.5vh solid #4B4643;
    border-bottom: 0.5vh solid #DCDEDD;
    background: linear-gradient(to bottom, #744B3F 80%, #DCDEDD 100%);
    display: flex;
    flex-direction: column;
    color: #DCDEDD;
    padding: 10vh 6vh 10vh 6vh;
}

.footer__columns {
    display: flex;
    flex-direction: row;
    filter: drop-shadow(0 0.4vh 1.2vh rgba(255, 255, 255, 0.3));
    margin: 0 auto;
}

.footer__column {
    border: 0.1vh solid #4B4643;
    border-radius: 3vh;
    margin: 0vh 1vh;
    padding: 1vh;
    width: 33%;
    transition: transform 0.5s ease-out;
    
}

.footer__column:hover {
    transform: scale(1.1);
}

.footer__column-title {
    text-align: center;
    color: #DCDEDD;
    margin-bottom: 1vh;
}

.footer__column-subtitle {
    color: black;
    margin-bottom: 1vh;
    text-align: center;
    line-height: 2.3vh;
}

.footer__subtitle {
    margin-top: 2vh;
    text-align: center;
}

.footer__column-link {
    color: #DCDEDD;
    text-underline-offset: 0.3vh;
    text-decoration: none;
}