.skills {
    display: flex;
    flex-direction: column;
    padding: 4vh;
}

.skill {
    margin: 2vh;
}

.skill__title {
    transition: var(--transition-base);
    margin-bottom: 1vh;
}

.skill__title:hover {
    transform: scale(1.05);
}